body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    height: 100vh;
    overflow: auto;
}

header {
    background-color: rgb(143, 195, 75);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    color: white;
    text-align: left;
    margin: 0;
}

.header-links {
    display: flex;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-left: 15px;
    margin-right: 5px;
    font-size: 18px; 
}

.background-image {
    background-image: url('../iw.jpg'); 
    background-size: 50px;
    margin-top: 1px;
    background-repeat: repeat;
    height: 40px; 
}